.navbar-search {
    line-height: 80px;
    display: inline-block;
    width: 20px;
    padding: 0 40px 0 0;
    cursor: pointer;
}

.navbar-search:hover > form, .navbar-search:active > form, .navbar-search:focus > form {
    overflow: inherit;
    clip: inherit;
    -webkit-transition: opacity 500ms ease-in-out;
    transition: opacity 500ms ease-in-out;
    opacity: 1;
}

.navbar-search:hover > .icon-search, .navbar-search:active > .icon-search, .navbar-search:focus > .icon-search {
    color: #eb5055;
}

.navbar-search form {
    line-height: 30px;
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    width: auto;
    max-width: 60%;
    height: 30px;
    margin-top: -15px;
    padding-right: 10px;
    opacity: 0;
}

.navbar-search form .search-box {
    line-height: 30px;
    position: relative;
    top: -1px;
    display: inline-block;
    width: 400px;
    max-width: 100%;
    height: 30px;
    padding: 0;
    border: none;
    border-radius: 3px;
}

.navbar-search form .search-box input {
    font-size: 14px;
    line-height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    padding: 0 40px 0 18px;
    color: #313131;
    border: 1px solid #eb5055;
    border-radius: 20px;
    outline: 0;
    background-color: #fff;
    -webkit-appearance: none;
}

.navbar-search form .search-box ul {
    font-size: 14px;
    line-height: 50px;
    color: #eb5055;
    background-color: #fff;
    z-index: 9999;
    text-align: center;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
    border-radius: 0.50rem;
}

.navbar-search form .search-box ul li {
    z-index: 9999;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}